/*page basics*/
body {
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #e5f3f2;
}

h1{
    color: #6d6e71;
    font-size: 3em;
    margin-bottom:  28px;
}

.idea {
    color: #00a79d;
}

input {
    height: 30px;
    width: 500px;
    font-size: 1.5em;
    display: block;
    margin: 12px auto 12px;
}

textarea {
    resize: vertical;
    display: block;
    margin: 0px auto 12px;
    width: 500px;
    border: solid 1px #D1D3D4;
    font-size: 1.5em;
    height: 1.45em;
    outline: none;
}

#search-input {
    margin: 40px auto 0px;
}

.save-btn {
    background-color: #00a79d;
    border: none;
    color: #fff;
    font-size: 1.5em;
    height: 30px;
    width: 500px;
    margin-bottom: 20px;
}

.save-btn:hover {
    background-color: #045e55;
}

/*idea cards*/
h2 {
   color: #6d6e71; 
   font-size: 1.5em;
}

p {
    color: #939598;
    font-family: 'Open Sans', sans-serif;
}

.card-container {
    margin: auto;
    position: relative;
    width: 500px;
    border-bottom: solid 1px #d1d3d4;
}

button {
    border: none;
}

.quality {
    display: inline;
    font-family: serif;
    margin-left: 15px;
}

.qualityVariable {
    font-family: 'Open Sans', sans-serif;
}

.card-Btn {
    height: 25px;
    width: 25px;
    background: transparent;
}

.upvote {
    background-image: url(./images/upvote.svg);
    margin: 0px 5px 15px 0px; 
}

.upvote:hover {
    background-image: url(./images/upvote-hover.svg);
}

.downvote {
    background-image: url(./images/downvote.svg);
}

.downvote:hover {
    background-image: url(./images/downvote-hover.svg);
}

.delete-button {
    background-image: url(./images/delete.svg);
    position: absolute;
    right: 10px;
    top: 15px;
}

.delete-button:hover {
    background-image: url(./images/delete-hover.svg);
}

/*media queries*/

@media(max-width: 640px) {

    .card-container {
        width: 400px;
    }
    input {
        width: 400px;
    }
    .save-btn {
        width: 400px;
    }

    textarea {
    width: 400px;
    height: 1.45em;
    outline: none;
    }
}

@media(max-width: 450px) {
     .card-container {
        width: 300px;
    }
    input {
        width: 300px;
    }
    .save-btn {
        width: 300px;
    }

    textarea {
    width: 300px;
    height: 4em;
    outline: none;
    }

   }